
{% extends "../base.html" %}

{% block content %}

    <div class="row">
    {% if messages %}
            <ul class="messages alert alert-danger hidden">
                {% for message in messages %}
                    <li{% if message.tags %}
                        class="{{ message.tags }} hidden"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group text-center" style="padding: 30px; background-color: #b3d5b8; border: 2px black solid; border-radius: 10px">
                <label for="card_script">Upload Customer NId:</label>
                <input required class="form-control" type="file" id="card_script" name="card_script">
                <label for="n_card_script">Upload Nominee NId:</label>
                <input class="form-control" type="file" id="n_card_script" name="n_card_script">

            </div>
            <input type="submit" class="btn btn-primary" value="Upload">
        </form>
        <br><br>
    </div>
    <div class="col-sm-3"></div>
</div>
{% endblock %}

