{% extends "../base.html" %}
{% block custom_css %}
    <style>
        .form-control {
            padding: 0px 0px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3" style="background-color: #dbffba; border-right: 1px black solid; border-radius: 5px">
            <form id="form_cust">
                {% csrf_token %}
                <h5 class="text-center">Account Holder</h5>
                {% for k,v in data.customer.items %}

                    {% if k == 'id' %}
                        <div class="form-group" hidden>
                            <label for="c_{{ k }}">{{ k }}</label>
                            <input class="form-control" name="c_{{ k }}" id="c_{{ k }}" value="{{ v }}">
                        </div>

                    {% else %}
                        <div class="form-group">
                            <label for="c_{{ k }}">{{ k }}</label>
                            <input class="form-control" name="c_{{ k }}" id="c_{{ k }}" value="{{ v }}" readonly>
                        </div>
                    {% endif %}

                {% endfor %}
            </form>

        </div>
        <div class="col-sm-3" style="background-color: #dcffef; border-right: 1px black solid; border-radius: 5px">
            <form id="form_acc">
                {% csrf_token %}
                <h5 class="text-center">Account Info</h5>
                {% for k,v in data.acc_info.items %}

                    {% if k == 'id' %}
                        <div class="form-group" hidden>
                            <label for="acc_{{ k }}">{{ k }}</label>
                            <input class="form-control" name="acc_{{ k }}" id="acc_{{ k }}" value="{{ v }}">
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label for="acc_{{ k }}">{{ k }}</label>
                            {% if k == 'source' %}
                                <input id="acc_{{ k }}" name="acc_{{ k }}" class="form-control" type="text"
                                       list="source"/>
                                <datalist id="source">
                                    {% for itm in data.source %}
                                        <option>{{ itm.name }}</option>
                                    {% endfor %}
                                </datalist>
                            {% elif k == 'occupation' %}
                                <input id="acc_{{ k }}" name="acc_{{ k }}" class="form-control" type="text"
                                       list="occupation"/>
                                <datalist id="occupation">
                                    {% for itm in data.occupation %}
                                        <option>{{ itm.name }}</option>
                                    {% endfor %}
                                </datalist>
                            {% elif k == 'goal' %}
                                <input id="acc_{{ k }}" name="acc_{{ k }}" class="form-control" type="text"
                                       list="ac_goal"/>
                                <datalist id="ac_goal">
                                    {% for itm in data.ac_goal %}
                                        <option>{{ itm.name }}</option>
                                    {% endfor %}
                                </datalist>
                            {% elif k == 'type' %}
                                <input id="acc_{{ k }}" name="acc_{{ k }}" class="form-control" type="text"
                                       list="ac_type"/>
                                <datalist id="ac_type">
                                    {% for itm in data.ac_type %}
                                        <option>{{ itm.name }}</option>
                                    {% endfor %}
                                </datalist>
                            {% else %}
                                <input class="form-control" name="acc_{{ k }}" id="acc_{{ k }}" value="{{ v }}">
                            {% endif %}
                        </div>
                    {% endif %}

                {% endfor %}


                <h5 class="text-center">Transaction profile</h5>
                {% for k,v in data.tp.items %}

                    {% if k == 'id' %}
                        <div class="form-group" hidden>
                            <label for="tp_{{ k }}">{{ k }}</label>
                            <input class="form-control" name="tp_{{ k }}" id="tp_{{ k }}" value="{{ v }}">
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label for="tp_{{ k }}">{{ k }}</label>
                            <input class="form-control" name="tp_{{ k }}" id="tp_{{ k }}" value="{{ v }}">
                        </div>
                    {% endif %}

                {% endfor %}
            </form>
        </div>
        <div class="col-sm-3" style="background-color: #ffdde4; border-right: 1px black solid; border-radius: 5px">
            <form id="form_nom">
                {% csrf_token %}
                <h5 class="text-center">Nominee</h5>
                {% for k,v in data.nominee.items %}

                    {% if k == 'id' %}
                        <div class="form-group" hidden>
                            <label for="n_{{ k }}">{{ k }}</label>
                            <input class="form-control" name="n_{{ k }}" id="n_{{ k }}" value="{{ v }}">
                        </div>

                    {% else %}
                        <div class="form-group">
                            <label for="n_{{ k }}">{{ k }}</label>
                            <input class="form-control" name="n_{{ k }}" id="n_{{ k }}" value="{{ v }}" readonly>
                        </div>
                    {% endif %}

                {% endfor %}
            </form>
        </div>
        <div class="col-sm-1">
            <input class="btn btn-success" type="button" id="form_fillup" name="form_fillup" value="Form Fill-up">
        </div>
        <div class="col-sm-1"></div>


    </div>



{% endblock %}

{% block custom_js %}


    <script>

        function myFunction() {
            var txt;
            if (confirm("একাউন্টের নাম কি কাস্টমারের নামে হবে?")) {
                txt = "হ্যা";
            } else {
                txt = "না";
            }
            if (txt === "হ্যা") {
                $("#acc_e_name").val($("#c_e_name").attr('value'));
                $("#acc_b_name").val($("#c_b_name").attr('value'));

            }

            $("#acc_ac_number").val("৩০৮৭");
            $("#acc_nationality").val("বাংলাদেশী");
            $("#acc_income").val("১০,০০০/=");
            $("#tp_depo_cash_txn").val("১০");
            $("#tp_depo_trans_txn").val("১০");
            $("#tp_wd_cash_txn").val("১০");
            $("#tp_wd_trans_txn").val("১০");
            $("#tp_depo_cash_txn_amt").val("২,০০,০০০/=");
            $("#tp_depo_trans_txn_amt").val("২,০০,০০০/=");
            $("#tp_wd_cash_txn_amt").val("২,০০,০০০/=");
            $("#tp_wd_trans_txn_amt").val("২,০০,০০০/=");
        }

        var a = ['', 'one ', 'two ', 'three ', 'four ', 'five ', 'six ', 'seven ', 'eight ', 'nine ', 'ten ', 'eleven ', 'twelve ', 'thirteen ', 'fourteen ', 'fifteen ', 'sixteen ', 'seventeen ', 'eighteen ', 'nineteen '];
        var b = ['', '', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];

        function inWords(num) {
            if ((num = num.toString()).length > 9) return 'overflow';
            n = ('000000000' + num).substr(-9).match(/^(\d{2})(\d{2})(\d{2})(\d{1})(\d{2})$/);
            if (!n) return;
            var str = '';
            str += (n[1] != 0) ? (a[Number(n[1])] || b[n[1][0]] + ' ' + a[n[1][1]]) + 'crore ' : '';
            str += (n[2] != 0) ? (a[Number(n[2])] || b[n[2][0]] + ' ' + a[n[2][1]]) + 'lakh ' : '';
            str += (n[3] != 0) ? (a[Number(n[3])] || b[n[3][0]] + ' ' + a[n[3][1]]) + 'thousand ' : '';
            str += (n[4] != 0) ? (a[Number(n[4])] || b[n[4][0]] + ' ' + a[n[4][1]]) + 'hundred ' : '';
            str += (n[5] != 0) ? ((str != '') ? 'and ' : '') + (a[Number(n[5])] || b[n[5][0]] + ' ' + a[n[5][1]]) : '';
            return str + 'only ';
        }

        document.getElementById('acc_init_depo').onkeyup = function () {
            $("#acc_init_depo_word").val(inWords(document.getElementById('acc_init_depo').value));
        };

        $(document).ready(function () {
            myFunction()

            $("#form_fillup").click(function () {

                var data = $('#form_acc').serialize();
                data = data + '&' + $('#form_cust').serialize();
                data = data + '&' + $('#form_nom').serialize();
                $.ajax({
                    type: 'post',
                    url: '/form-fillup/',
                    data: data,
                    success: function (data) {
                        console.log(data);
                        window.open(data.file_link);
                    }
                });
            });
        });
    </script>

{% endblock %}