{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="{% static 'css/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">
    {% block title %} {% endblock %}
    {% block custom_css %} {% endblock %}
</head>
<body>
<p id="csrf_token" hidden>{{ csrf_token }}</p>
<div class="container-fluid" style="background-image: linear-gradient(to bottom right, #ff958c, #fff09b, #87e885); border-radius: 20px">
    <h2 class="text-center">Rupali Bank Limited</h2>
    <h3 class="text-center">Jhenaidah Corp. Branch, Jhenaidah</h3>
</div>
<div class="container">

    {% block content %}{% endblock %}
</div>


<script src="{% static 'js/bootstrap-4.1/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap-4.1/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
{% block custom_js %} {% endblock %}
</body>
</html>