# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\rbl\ac_opn_nid\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
